@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Life+Savers:wght@700&display=swap");

:root {
  --background-color: #47929c;
  --primary-color: #675555;
  --primary-color-hover: #8bc343;
  --secondary-color: #fff;
  --secondarycolor-hover: #8bc343;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  overflow: hidden;
  color: var(--secondary-color);
  background-color: var(--background-color);
  height: 100vh;
}

main {
  height: 100%;
}

.section {
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.audio-box {
  display: none;
}

@media screen and (min-width: 900px) {
  .audio-box {
    display: block;
    position: absolute;
    top: 1vmin;
    right: 30vmin;
  }
}


/* SWIPE BUTTONY (posouvátka) */

.swipe-button {
  position: absolute;
}

.swipe-button--1 {
  position: absolute;
  top: 5vmin;
  left: 5vmin;
}

.swipe-button--2 {
  position: absolute;
  top: 5vmin;
  right: 5vmin;
}

.swipe-button__base {
  height: 10vmin;
}

.swipe-button__home {
  position: absolute;
  height: 9vmin;
  top: 0.5vmin;
  left: 15vmin; /* bude se posouvat: left 1vmin */
}

.swipe-button__info {
  position: absolute;
  height: 9vmin;
  top: 0.5vmin;
  right: 15vmin; /* bude se posouvat: right 1vmin */
}



/* UTILITIES */

.u-position-bottom-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.u-position-top-right {
  position: absolute;
  top: 17vmin;
  right: 5vmin;
}

.u-padding-bottom {
  padding-bottom: 2rem;
}

/* ANIMACE */

@keyframes pohyb-dolu {
  0%,
  100% {
    top: -153vmin;
  }

  33% {
    top: -53vmin;
  }

  66% {
    top: -53vmin;
  }
}

@keyframes pohyb-do-L {
  0%,
  100% {
    top: -153vmin;
    left: -10vmin;
  }

  20% {
    top: -53vmin;
    left: -10vmin;
  }

  35% {
    top: -53vmin;
    left: -10vmin;
  }

  45% {
    top: -53vmin;
    left: 20vmin;
  }

  65% {
    top: -53vmin;
    left: 50vmin;
  }

  75% {
    top: -58vmin;
    left: 30vmin;
  }

  85% {
    top: -53vmin;
    left: -10vmin;
  }
}

@keyframes pohyb-zprava {
  0%,
  100% {
    right: -162vmin;
  }

  33% {
    right: -62vmin;
  }

  66% {
    right: -62vmin;
  }
}

@keyframes pohyb-zdola {
  0%,
  100% {
    bottom: -121vmin;
  }

  20% {
    bottom: -21vmin;
  }

  40% {
    bottom: -45vmin;
  }

  50% {
    bottom: -45vmin;
  }

  60% {
    bottom: -21vmin;
  }

  80% {
    bottom: -21vmin;
  }
}

@keyframes zmena-primary {
  0% {
    background-color: #8bc343;
    transform: scale(1);
  }
  80% {
    background-color: red;
    transform: scale(1.05);
  }

  100% {
    background-color: red;
    transform: scale(1.05);
  }
}

@keyframes zmena-secondary {
  0% {
    background-color: #fff;
    color: #8c8c8c;
    transform: scale(1);
  }
  80% {
    background-color: #508e24;
    color: white;
    transform: scale(1.05);
  }

  100% {
    background-color: #508e24;
    color: white;
    transform: scale(1.05);
  }
}
