/* HOME-PAGE */

.home {
  max-width: 1200px;
  padding: 20px;
  color: white;
  text-align: center;
}

.home__content {
  padding-bottom: 3rem;
  padding-bottom: clamp(1rem, 3vw, 3rem);
}

.home__title {
  margin-top: 1.5rem;
  font-family: "Life Savers", serif;
  font-size: clamp(2.6rem, 5vw, 5rem);
  font-weight: 700;
}

.home__text {
  font-size: clamp(1rem, 3vw, 2rem);
}

.home__flex {
  flex-shrink: 0 0 auto;
  flex-direction: column;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 0 3rem;
}

.home__img {
  position: absolute;
  height: 83vh;
}

.home__img--1 {
  top: -52vmin;
  left: -10vmin;
  transform: rotate(-180deg);
  animation: pohyb-do-L 12s infinite;
  animation-fill-mode: both;
}

.home__img--2 {
  left: -32vmin;
  bottom: -21vmin;
  transform: rotate(15deg);
  animation: pohyb-zdola 10s infinite;
  animation-delay: 14s;
  animation-fill-mode: both;
}

.home__img--3 {
  right: -63vmin;
  bottom: -6vmin;
  height: 105vh;
  transform: rotate(-15deg);
  animation: pohyb-zprava 6s infinite;
  animation-delay: 7s;
  animation-fill-mode: both;
}

@media screen and (min-width: 600px) {
  .home__text {
    padding: 0 6rem;
    max-width: 70vw;
  }

  .home__flex {
    flex-direction: row;
  }
}
